<div class="card">
  <div>
    {{item.title}}
  </div>
  <div class="card-wrapper">
    <div class="card-column"><b>Employee:</b> {{item.number_of_employees}}</div>
    <div class="card-column"><b>Date of conference:</b> {{moment-format item.conference_date 'MM-DD-YYYY'}}</div>
    <div class="card-column"><b>Head of conference:</b> {{item.head_of_opc.first_name}}{{item.head_of_opc.last_name}}</div>
    <div class="card-column"><b>Responsible HR BP:</b> {{item.responsible_hr.first_name}}{{item.responsible_hr.last_name}}</div>
  </div>
</div>
{{yield}}