{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}
{{!-- {{#if showName}}
	hello {{name}}
	{{else}}
	hello ember
{{/if}}
<button {{action 'toggleName'}}>Toggle name</button>

<br>

{{numClicks}}

<button {{action 'incrementClicks'}}>Increment</button> --}}
{{!-- {{link-to 'About' 'abot'}}
{{link-to 'Parent' 'parent'}}
{{link-to 'Todos' 'todos'}}
{{x-counter}}
{{x-counter number=42}}
{{#x-counter}}
text
{{/x-counter}} --}}

{{!-- {{x-alert handleClick=(action 'doAlert') message="yo yo yo"}} --}}
{{link-to 'Conference' 'conferences'}}

{{outlet}}