<div class="wrapper">
  {{!-- <div class="tabs">
    <span>{{link-to "Conference" "conferences"}}</span>
    <span>{{link-to "People" "people"}}</span>
  </div> --}}
  <div class="tabs">
    <div class="tabs__scroll">
      <div role="tablist">
        <span role="tab">{{link-to "Conference" "conferences"}}</span>
        <span role="tab">{{link-to "People" "people"}}</span>
        <span role="tab">{{link-to "Book (test)" "book"}}</span>
      </div>
    </div>
  </div>
  {{outlet}}
</div>