<div>
  <div class="filter">
    <form action="" class="form">
      {{input type="text" class="input" placeholder="Filter by name or lastname" value=param key-press=(action
      "onFilter")}}
    </form>
  </div>
  {{#each peopleModel as |person|}}
    <div class="card">
      <div class="card-wrapper">
        <div class="card-column">
          <span role="image" class="default-avatar avatar avatar--l"></span>
        </div>
        <div class="card-column">
          {{person.first_name}} {{person.last_name}} <br>
          <span class="card-highlight">
            {{#if person.placements.[0]}} 
              {{person.level.name}}
              {{person.placements.[0].position.title}} 
            {{/if}}
          </span>
        </div>
        <div class="card-column">
          <span>
            {{#if person.placements.[0]}} {{person.placements.[0].position.department_abbreviation}} {{/if}}
          </span>
        </div>
        <div class="card-column">
          <span>
            {{person.primary_manager_identity.first_name}} {{person.primary_manager_identity.last_name}}
          </span>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}