<div>
  <div class="filter">
    <form action="" class="form">

    {{input type="text" class="input" placeholder="Filter by name or lastname" value=param key-press=(action
    "onFilter")}}
    </form>
  </div>
  {{#each peopleModel as |person|}}
  <div class="card">
    <div class="card-wrapper">
      <div class="card-column">
        <span role="image" class="avatar avatar--l" style="background-image: url('https://cdn-assets-eu.frontify.com/local/haufe/h_lNxVXLqrDqb2kyrixW3lMmUl7n-aBRzJUzyvzD7_8ZT8-w0Kl7FiAgddIV6WDy68nPxqKzxRF8Pzgzru9UCWiiZwWIWu_LDbBg8OsRziRQvc1kALTy6-uAByAypdMH?width=800');"></span>
      </div>
      <div class="card-column">
        {{person.first_name}} {{person.last_name}} <br>
        <span class="card-highlight">{{#if person.placements.[0]}} {{person.level.name}} .
          {{person.placements.[0].position.title}} {{/if}}</span>
      </div>
      <div class="card-column">
        <span>{{#if person.placements.[0]}} {{person.placements.[0].position.department_abbreviation}} {{/if}}</span>
      </div>
      <div class="card-column">
        <span>{{person.primary_manager_identity.first_name}} {{person.primary_manager_identity.last_name}}</span>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{outlet}}